.services__container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  justify-content: center;
}


.services__content {
  background-color: var(--container-color);
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 1rem;
}

.services__title {
  font-size: var(--h3-font-size);
  color: var(--primary);
  margin-bottom: var(--mb-1);
  text-align: center;
  font-weight: var(--font-medium);
}

.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s;
}

.services__modal-content {
  width: 500px;
  position: relative;
  background-color: var(--container-color);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
}

.services__modal-title,
.services__modal-description {
  text-align: center;
}

.services__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.services__modal-description {
  font-size: var(--small-font-size);
  padding: 0 3.5rem;
  margin-bottom: var(--mb-2);
}

.services__modal-services {
  row-gap: 0.75rem;
}

.services__modal-service {
  display: flex;
  align-items: start;
  column-gap: 0.5rem;
}

.services__modal-icon {
  color: var(--primary);
  font-size: 1.1rem;
}

.services__modal-info {
  font-size: var(--small-font-size);
}


@media screen and (max-width: 992px) {
  .services__container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .services__content {
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .services__container {
    grid-template-columns: 1fr;
  }

  .services__content {
    padding: 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 460px) {
  .services__container {
    grid-template-columns: 1fr;
  }

}