.home__appointment {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  padding: 0.8rem;

}

.appointment {
  position: relative;
}

.appointment-link {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border: 2px solid var(--primary);
  border-radius: 0.8rem;
  width: 175px;
  height: 55px;
}

.appointment:first-child .appointment-link {
  justify-content: center;
  background: var(--primary);
  color: white;
}

.appointment:first-child .appointment-link span {
  white-space: nowrap;
  transform: translateX(0);
  transition: transform 300ms ease;
}

.appointment:first-child:hover .appointment-link span {
  transform: translateX(0);
}

.pastille {
  position: absolute;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  margin-top: -9px;
  margin-right: -7px;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}