.home__appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  padding: 0.8rem;

}

.top,
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.arrow-container {
  margin-top: 1rem;
}

.appointment {
  display: flex;
  align-items: center;
}

.appointment {
  position: relative;
}

.appointment-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.5rem;
  border: 2px solid var(--primary);
  border-radius: 0.8rem;
  width: 175px;
  height: 55px;
  background: var(--primary);
  color: white;
  cursor: pointer;

}

.appointment-link:hover {
  background: white;
  color: var(--primary);
}

.pastille {
  position: absolute;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  margin-top: -9px;
  margin-right: -7px;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}