.working {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.working__img {
  width: 600px;
  height: 375px;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.section__title span {
  color: var(--primary);
}

.work__card {
  max-width: 600px;
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-bottom: var(--mb-3);
}

.work__card:hover {
  transition: 0.3s;
  background-color: var(--container-color-hover);
}