.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
}

.work__item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.work__item:hover {
  background-color: var(--primary);
  color: var(--container-color);
}

.work__container {
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
  justify-content: center;
}

.work__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 0 0 1rem 0;
  max-width: 480px;
}

.work__card:hover {
  transition: 0.3s;
  background-color: var(--container-color-hover);
}

.work__image {
  width: 500px;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.work__content {
  padding: 1rem;
}

.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.work__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  text-transform: capitalize;

}

.work__tech {
  font-size: var(--small-font-size);
  display: flex;
  color: var(--title-color-dark);
  flex-wrap: wrap;
}

.work__tech-item {
  margin: 0 0.5rem 0 0;
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
}

.button {
  padding: 1rem;
}

.work__button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
  margin-right: 3rem;
}


.work__button:hover {
  color: var(--primary);
}

.active-work {
  background-color: var(--primary);
  color: var(--container-color);
}


@media screen and (max-width: 992px) {
  .work__container {
    grid-template-columns: repeat(1, max-content);
  }

  .work__card {
    padding: 1rem;
  }

  .work__img {
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: max-content;
  }
}

@media screen and (max-width: 576px) {
  .work__container {
    grid-template-columns: 1fr;
  }

  .work__img {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .work__item {
    font-size: var(--small-font-size);
  }

  .work__filters {
    column-gap: 0.25rem;
  }
}